# default c++ ignores:

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Build folders
bin/
obj/
build/
Debug/
Release/
x64/
x86/
__pycache__/
*.py[cod]
*.swp
*.bak
*.tmp
temp/

# Various IDEs and editors
.vscode/
.vs/
*.swp
*.user
*.suo
*.userosscache
*.sln.docstates

# JetBrains IDEs
.idea/

# Eclipse project files
.metadata
.recommenders

# macOS specific
.DS_Store
.AppleDouble
.LSOverride

# Thumbnail cache files
._*

# Files that might appear in the root of a volume
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns
.com.apple.timemachine.donotpresent

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk
